.card {
  display: inline-block;
  border-radius: 5px;
  background-color: #c7c7c7;
  width: 160px;
  font-family: sans-serif;
  box-shadow: 2px 2px 4px 1px #13131373;
}
.card-header {
  padding: 5px 10px;
  background-color: #b1b1b1;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card-header h4 {
  margin: 0;
}
.card-body {
  padding: 0 10px 10px;
}
span.test {
  font-weight: bold;
  font-style: italic;
  color: darkgreen;
}
span.centered {
  text-align: center;
  display: block;
}
.card-container {
    border: 1px solid gray;
    margin: 10px;
    padding: 10px;
}